@import url(https://fonts.googleapis.com/css?family=Roboto:300,100);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');


html {
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #F0F0F0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #223d22;
    display: flex;
    justify-content: center;
    height: 100%;
}

textarea,
input[type="text"] {
    -webkit-appearance: none;
}

.screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.screen-2 {
    width: 100vw;
    height: 100vh;
    border: 4px inset white;
}

.screen p {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 21px;
    padding: 0px 30px;
}

.thank-you {}

.thank-you p {
    color: #fff;
    text-align: center;
    font-size: 21px;
    padding: 0px 30px;
    font-weight: 100;
}

.contact-form {
    padding: 40px;
}

.contact-form h3 {
    color: #fff;
    font-weight: 100;
}

.form textarea {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    margin: 0px 0px 20px 0px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #fff;
    letter-spacing: 1px;
    resize: vertical;
    font-size: 15px;
    border-radius: 0px;
    box-shadow: 0 0 0;
}

.form button {
    border: 0;
    background-color: #fff;
    padding: 10px 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 14px;
    border: 1px solid #fff;
    transition: all 0.18s;
}

.form button:hover {
    background-color: #223d22;
    transition: all 0.18s;
    color: #fff;
}

.form input {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 0px 0px 2px 0px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #fff;
    font-size: 15px;
    padding: 10px 10px;
    letter-spacing: 1px;
    border-radius: 0px;
    box-shadow: 0 0 0;
}

.shop-button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
}

.shop-button p {
    margin: 0;
    padding: 0;
}

.shop-button p a {
    color: #223d22;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

.main-logo {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 10px;
}

.main-logo img {
    padding: 15px;
}

html#ecwid_html body#ecwid_body span.ecwid-maintenance-popup {
    margin-top: 150px;
}

.gwt-InlineHTML {
    color: white;
}

body.shop {
    margin-top: 120px;
}

/* media queries start */

@media (min-width: 480px) {}

@media (min-width: 500px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 838px) {}

@media (min-width: 992px) {
    .form input {
        max-width: 270px;
        margin-bottom: 4px;
    }
}

@media (min-width: 1200px) {}

/* media queries end */
