@import url(https://fonts.googleapis.com/css?family=Roboto:300,100);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');


html {
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #F0F0F0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #223d22;
    display: flex;
    justify-content: center;
    height: 100%;
}

.screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.screen p {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 21px;
    padding: 0px 30px;
}

.thank-you {}

.thank-you p {
    color: #fff;
    text-align: center;
    font-size: 21px;
    padding: 0px 30px;
    font-weight: 100;
}

.contact-form {
    padding: 40px;
}

.contact-form h3 {
    color: #fff;
    font-weight: 100;
}

.form textarea {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    margin: 0px 0px 20px 0px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #fff;
}

.form button {
    border: 0;
    background-color: #fff;
    padding: 10px 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 12px;
    border: 1px solid #fff;
    transition: all 0.18s;
}

.form button:hover {
    background-color: #223d22;
    transition: all 0.18s;
    color: white;
}
